*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link-apple {
    width: 1.6rem;
    background: url("../img/iconos/apple.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-search {
    width: 1.6rem;
    background: url("../img/iconos/search.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-bag {
    width: 1.4rem;
    background: url("../img/iconos/bag.svg") center no-repeat;
    height: 4.4rem;
}

.iphone-13-pro {
    background: url("../img/Hero/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall.jpg");
    margin-top: 4.4rem;
    cursor: pointer;
}

.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.6rem solid #ffffff;
    border-bottom: 0.6rem solid #ffffff;
}

.titulo-negro {
    color: #1d1d1f;
    text-align: center;
    padding-top: 5.5rem;
}

.titulo-principal {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}

.subtitulo-principal {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #0070c9;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 1px solid #0070c9;
}

.cta a img {
    width: 10px;
}

.iphone-13 {
    background-image: url("../img/Hero/iphone-13/hero_iphone_13__f194u1rdooeq_largetall.jpg");
    cursor: pointer;
}

.titulo {
    color:#ffffff;
    text-align: center;
    padding-top: 5.5rem;
}

.cta-link-darker {
    color: #0070c9;
}

.cta-link-darker:hover {
    border-bottom-color: #0070c9;
}

.watch {
    background: url("../img/Hero/watch/hero_watch__f05go333pz2i_largetall.jpg");
    cursor: pointer;
}

.titulo-principal-watch {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}


/* Hero2 */
.hero2 {
    max-width: 256rem;
    margin: 0 auto;
    padding: 0 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
}

/* posicion de los elementos */
.hero2 .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            border-top: 0.4rem solid #ffffff;
            border-bottom: 0.5rem solid #ffffff;
}
/* --posicion de los elementos-- */

.hero2__item {
    height: 590px;
    -webkit-box-flex: 0.497;
        -ms-flex: 0.497;
            flex: 0.497;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fbfbfb;
}

.hero2__item .background {
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2;
}

.hero2 .titulo-negro h2 {
    font-size: 40px;
}

.hero2 .titulo-negro h3 {
    font-size: 21px;
    font-weight: 400;
}

.hero2 .cta a {
    font-size: 17px;
}

.hero2 .cta a img {
    width: 10px;
}
/* --Hero2-- */

/* watch-s7 */
.watch-s7 {
    background-image: url("../img/Hero/watch/tile_watch__e9n11b6m6yq2_large.jpg");
    cursor: pointer;
}
/* --watch-s7-- */

/* --reto-- */
.reto {
    background-image: url("../img/Hero/promos/tile_soip__f0c6lef982em_large.jpg");
    cursor: pointer;
    position: relative;
    /* left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 50px; */
}
/* --reto-- */

/* s-valentin */
.s-valentin {
    background-image: url("../img/Hero/promos/promo_vday22__oz9b5x4x7ney_large.jpg");
    cursor: pointer;
}
/* --s-valentin-- */

/* fitness */
.fitness {
    background-image: url("../img/Hero/promos/tile_winter__bpktzwl6hsc2_large.jpg");
    cursor: pointer;
}
/* --fitness-- */

/* arcade */
.arcade {
    background-image: url("../img/Hero/promos/tile_arcade__ewkth5cd0wia_large.jpg");
    cursor: pointer;
}
/* --arcade-- */

/* apple-tv */
.apple-tv {
    background-image: url("../img/Hero/apple-tv/promo_servant_s3__fr47v11rxd6q_large.jpg");
    cursor: pointer;
}
/* --apple-tv-- */

.background {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* footer */
.footer {
    width: 100%;
    height: 810px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
    border-top: 0.7rem solid #ffffff;
}

.footer__wrapper {
    width: 970px;
}

.footer ul {
    font-size: 12px;
    list-style: none;
    color: #86868b;
    border-bottom: 1px solid #d6d6d6;
}

.footer ul li {
    margin: 15px 0;
    letter-spacing: 0.1px;
}

.footer__links {
    width: 100%;
    display: flex;
}

.footer__links--column {
    width: 200px;
    display: flex;
            flex-direction: column;
}

.footer__links--column-title {
    font-weight: 400;
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.footer__links--column a {
    font-size: 12px;
    color: #515154;
    margin-bottom: 12px;
}

.footer__more {
    font-size: 13px;
    display: flex;
    color: #86868b;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.footer__more a {
    color: #06c;
}

.footer__copyright {
    background-color: #f5f5f7;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #86868b;
    margin-top: 4px;
    position: relative;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    transform: translate(-50%, -50%);
    position: relative;
} 
.links a {
    color: #515154;
    border-left: 1px solid #d6d6d6;
}

.footer__copyright .links a:nth-child(1) {
    border: none;
}
/* --footer-- */

.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.6rem solid #ffffff;
    border-bottom: 0.6rem solid #ffffff;
}

.iphone-13-pro {
    border-top: none;
}

/* para hacer receptivo cuando el tamaño es inferior 1068px */
@media screen and (max-width : 1068px) {
    .iphone-13-pro {
        background: url("../img/Hero/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall.jpg");
    }

    .iphone-13 {
        background: url("../img/Hero/iphone-13/hero_iphone_13__f194u1rdooeq_largetall.jpg");
    }

    .watch {
        background: url("../img/Hero/watch/hero_watch__f05go333pz2i_largetall.jpg");
    }

    .hero {
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .titulo-principal {
        font-size: 4.4rem;
    }

    .subtitulo-principal {
        font-size: 2.4rem;
    }

    .cta-link:nth-child(2) {
        margin-left: 2rem;
    }

    .titulo-principal-watch {
        height: 6.2rem;
        background: url("../img/Hero/watch/hero_watch__f05go333pz2i_largetall.jpg") center no-repeat;
        background-size: auto 6.2rem;
    }
}

/* cuando el dispositivo va menos que 767px */
@media screen and (max-width: 767px) {
    header {
        height: 6.8rem;
        transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
                        height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container {
        padding: 0;
    }

    .iphone-13-pro {
        margin-top: 4.8rem;
    }

    .nav-list {
        margin-top: 0;
    }

    .nav-list-mobile {
        display: flex;
    }

    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-items-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 096);
    }

    .line-top {
        margin-top: 3px;
    }

    .line-bottom {
        margin-top: -0.4rem;
    }

    .active .line-top {
        margin-top: 0;
        transform: rotate(45deg);
        transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 096);
    }

    .active .line-bottom {
        margin-top: 0;
        transform: rotate(-45deg);
        transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 096);
    }

    header.active {
        height: 100%;
        background-color: #000;
    }

    .nav-link-apple {
        width: 1.8rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav-link-bag {
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity 3s;
    }

    .nav {
        position: relative;
    }

    .nav-link {
        font-size: 1.7rem;
        padding: 0;
        margin: auto 0;
    }

    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        /* opacity: 0; */
        /* visibility: hidden;    */
        transition: opacity 0.3;
    }

/* cambiado en html la ortografía estaba mal */
    .active .nav-list-larger {
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-link-bag {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .nav-list-larger .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 2550, 0.1);
    }

    .nav-list-larger .nav-item:nth-child(9) {
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item {
        animation: fade 1s ease-in;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

}

@media screen and (max-width: 735px) {
    .iphone-13-pro {
        background: url("../img/Hero/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall.jpg");
    }

    .iphone-13 {
        background: url("../img/Hero/iphone-13/hero_iphone_13__f194u1rdooeq_largetall.jpg");
    }

    .watch {
        background: url("../img/Hero/watch/hero_watch__f05go333pz2i_largetall.jpg");
    }

    .her {
        height: 50rem;
        background-size: auto 54.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .titulo {
        padding-top: 3.7rem;
    }

    .titulo-principal {
        font-size: 3.2rem;
    }

    .subtitulo-principal {
        font-size: 1.9rem;
    }

    .titulo-principal-watch {
        margin: -0.5rem;
        margin-bottom: 0;
    }

    .cta {
        margin-top: 0.7rem;
    }

    .cta-link {
        font-size: 1.9rem;
    }
}






























/* .hero2__item .subTitle {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.hero2__item .subTitle a {
    height: 20px;
    width: 110px;
    margin: auto;
    margin-top: 10px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero2__item .subTitle a img {
    width: 18px;
    margin-left: 5px;
}
*/